.card-content {
    padding: 12px 25px;
}
  
.card-title {
    font-family: "Raleway Thin", sans-serif;
    text-align: center;
}

.underline-title {
    background: -webkit-linear-gradient(right, rgba(255,155,0,1), rgba(255,0,240,1));
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 200px;
}