<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="login.component.scss">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-google-plus-square" (click)="loginWithGoogle()"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form  method="post" class="form" #userForm="ngForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input (click)="mailEmpty = false; incorrect = false" type="text" class="form-control" placeholder="username" name="mail" [(ngModel)]="userService.selectedUser.mail">
						<div class="form-border">
							<div *ngIf="mailEmpty">
							  <h5 class="input-error">mail vide</h5>
							</div>
							<div *ngIf="incorrect">
							  <h5 class="input-error">Mail ou Mot de passe incorrect</h5>
							</div>
						  </div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input (click)="pwdEmpty = false; incorrect = false" type="password" class="form-control" placeholder="password" name="hashedPassword" [(ngModel)]="userService.selectedUser.hashedPassword">
						<div class="form-border">
							<div *ngIf="pwdEmpty">
							  <h5 class="input-error">Mot de passe vide</h5>
							</div>
							<div *ngIf="incorrect">
							  <h5 class="input-error">Mail ou Mot de passe incorrect</h5>
							</div>
						  </div>
					</div>
					<div class="form-group">
						<input  (click)="checkUser(userForm)" type="submit" name="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="card-header">
					<div class="d-flex justify-content-center">
					<h3>You don't have an account ?</h3>
				</div>
					<app-inscription></app-inscription>
     			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>