<app-tool-bar-bis></app-tool-bar-bis>
<div id="divWeatherMain"> 
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>  
    </div>   
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>  
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <img src="{{CryptoDataBtc.image}}" width="50" height="50">
    <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 5px;">{{CryptoDataBtc.id}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px; margin-top: 15px;">Price: {{CryptoDataBtc.price}} $</div>
    <div class="weatherWidgetRow" style="font-size: 12px; margin-top: 15px;">Market cap rank: {{CryptoDataBtc.market_cap_rank}}</div>
</div>
<div id="divWeatherMain"> 
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>  
    </div>   
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>  
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <img src="{{CryptoDataLtc.image}}" width="50" height="50">
    <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 5px;">{{CryptoDataLtc.id}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px; margin-top: 15px;">Price: {{CryptoDataLtc.price}} $</div>
    <div class="weatherWidgetRow" style="font-size: 12px; margin-top: 15px;">Market cap rank: {{CryptoDataLtc.market_cap_rank}}</div>
</div>
<div id="divWeatherMain"> 
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>  
    </div>   
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>  
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <img src="{{CryptoDataEth.image}}" width="50" height="50">
    <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 5px;">{{CryptoDataEth.id}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px; margin-top: 15px;">Price: {{CryptoDataEth.price}} $</div>
    <div class="weatherWidgetRow" style="font-size: 12px; margin-top: 15px;">Market cap rank: {{CryptoDataEth.market_cap_rank}}</div>
</div>